[Desktop Entry]
Type=XSession
Exec=mwm
TryExec=mwm
Name=MWM
Comment=The Motif Window Manager
Comment[nl]=De Motif Window Manager
Comment[sv]=Motifs fönsterhanterare
X-AltNames=lesstif;motif;fvwmmwm
# vi: encoding=utf-8
